body {
    font-family: 'Roboto', "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/* Site header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
}

.logo-link {
    transition: opacity 0.4s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.site-header-actions {
    display: flex;
    align-items: center;
}

/* Site navbar */
.sitenav-list {
    display: flex;
    list-style-type: none;
}


.nav-item {
    font-family: 'Roboto', "Arial" sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: color 0.4s ease,
      opacity 0.4s ease;
}

.nav-item:hover {
    color: #FF7500;
}

.nav-item:active {
    opacity: 0.6;
}

/* Main link */
.main-link {
    font-family: 'Roboto', "Arial" sans-serif;
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.4s ease,;
}

.main-link:hover{
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}


/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #FFFFFF;
}

.hero-content {
    width: 390px;
}

.orange-line {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}

.hero-img {
    width: 510px;
    height: 510px;
}

.hero-heading {
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-size: 40px;
    line-height: 1.2;
}


/* Feautures */
.feautures-heading {
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    color: #000000;
}

.feautures-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.feauture {
    width: 340px;
}


.feautures-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}


/* Card */
.card-heading {
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
}

.card-text {
    color: #000000;
}

/* Promo */
.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #FFFFFF;
}

.promo-content {
    width: 440px;
}

.promo-heading {
    font-family: 'Roboto Condensed', "Arial" sans-serif;
    font-size: 40px;
    line-height: 1.2;
}


.promo-highlight {
    font-family: 'Roboto', "Arial" sans-serif;
    color: #FF7500;
}

.promo-img {
    width: 440px;
    height: 440px;
}

/* Site footer */
.site-footer {
    background-color: #F8F8F8;;
}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.site-footer ul {
    list-style: none;
}


.site-footer-socials {
    display: flex;
    align-items: center;
}

.site-footer-socials a {
    color: #222;
    transition: color 0.4s ease,
      opacity 0.4s ease;
}

.site-footer-socials a:hover {
    color: #FF7500;
}

.site-footer-socials a:active {
    opacity: 0.6;
}

.site-footer-divider {
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
    display: flex;
}


.site-footer-links {
    width: 224px;
    line-height: 19px;
}


.site-footer-links a {
    text-decoration: none;
    color: #252420;
    transition: color 0.4s ease,
      opacity 0,4s ease;
}

.site-footer-links a:hover {
    color: #FF7500;
}

.site-footer-links a:focus {
    opacity: 0.6;
}